@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords"
          content="leave management, .net 6, .net core, complete asp.net and entity framework development">
    <meta name="description"
          content="Educational Project for .NET 6 Development">
    <meta name="robots" content="noindex,nofollow">
    <title>@ViewData["Title"] - Leave Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LeaveManagement.Web.styles.css" asp-append-version="true">

    <link rel="canonical" href="https://www.wrappixel.com/templates/xtreme-admin-lite/" />
    <!-- Custom CSS -->
    <link href="~/css/style.min.css" rel="stylesheet">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--endif]-->
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
     

        <header class="topbar" data-navbarbg="skin5">

          

            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <a class="navbar-brand" style="background-color:#615CA4;" href="index.html">
                        <span class="logo-text">
                            Employee Leave Management
                        </span>
                    </a>
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                </div>

                <div class="navbar-collapse collapse" style="background-color:#615CA4;" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav ml-auto">
                        <!-- User Profile-->
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="Userdd" role="button"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/images/users/1.jpg" alt="users" class="rounded-circle" width="40" />
                                    <span class="user-name font-medium">@User.Identity?.Name <i class="fa fa-angle-down"></i></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="Userdd">
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="btn d-block w-100 create-btn text-white no-block d-flex align-items-center">
                                            <i class="fa fa-power-off m-r-5 m-l-5"></i>
                                            <span> Logout</span>
                                        </button>
                                    </form>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                                    <i class="fas fa-portrait"></i>
                                    <span> Register</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                                    <i class="fas fa-user"></i>
                                    <span> Login</span>
                                </a>
                            </li>
                        }
                        <!-- End User Profile-->
                        <!-- Navbar Links -->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fas fa-home"></i>
                                <span> Home</span>
                            </a>
                        </li>
                        @if (User.IsInRole(Roles.User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="LeaveRequests" asp-action="Create">
                                    <i class="fas fa-pen-alt"></i>
                                    <span> Apply For Leave</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="LeaveRequests" asp-action="MyLeave">
                                    <i class="far fa-file-alt"></i>
                                    <span> My Leave</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Administrator))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Employees" asp-action="Index">
                                    <i class="fas fa-users"></i>
                                    <span> Employees</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="LeaveTypes" asp-action="Index">
                                    <i class="fas fa-cogs"></i>
                                    <span> Leave Types</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="LeaveRequests" asp-action="Index">
                                    <i class="fas fa-tasks"></i>
                                    <span> Leave Requests</span>
                                </a>
                            </li>
                         
                        }
                    </ul>
                    <!-- End Navbar Links -->
                </div>
            </nav>
        </header>

        <main class="mai" style="width: 100%; background-color: #fff; height:780px;">

        <div class="page">
            <div class="container-fluid">
                <div class="row-mine" style="padding:20px;">
                    @RenderBody()
                </div>
            </div>
            </main>
        <footer class="footer text-center" style="background-color:#615CA4;">
                <b style="color:white;">&copy; @DateTime.Now.Year Employee Leave Management - Dhruv Shukla</b>
            </footer>
        </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <!-- Wave Effects -->
    <script src="~/dist/js/waves.js"></script>
    <script src="~/js/waves.js"></script>
    <!-- Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!-- Custom JavaScript -->
    <script src="~/js/custom.js"></script>
    <!-- This page JavaScript -->
    <!-- chartis chart -->

    <script>
        $(function () {
            $('.table').DataTable();
            $(".datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
